body{
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
    color: slategray;
}
h4{
    font-size: 25px;
    color: black;
    text-align: center;
}
p{
    color: gray;
}
.name-highlight{
    color: rgb(211, 18, 18);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
    margin: 40px 5px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.link-position{
    margin-right: 40px;
    text-align: right;
}
.hire-button{
    text-decoration: none;
    background-color: rgb(255, 0, 149);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.cv-button{
    text-decoration: none;
    background-color: slateblue;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.lasted-highlight{
    text-align: center;
    color: orange;
}
.single{
    box-shadow: 5px 5px 30px gray;
    border-radius: 10px;
    height: 70%;
    width: 20%;
}
.working-project{
    padding-top: 20px;
    background-color: #f6f6f6;
    padding-left: 120px;

}
.lasted-position h2{
       margin-left: 20%;
}
.work-in img{
    width: 700px;
    margin: 50px 280px;
}
.work{
    color: white;
    padding-left: 315px;
    margin-top: -13%;
}
.lets-chat{
    text-decoration: none;
    background-color: rgb(255, 0, 149);
    padding: 10px 30px;
    border-radius: 14px;
    color: white;
    font-weight: 700;
    margin-left: 835px;
}
.footer{
    text-align: center;
    height: 50px;
    padding: 20px 40px;
    margin: 40px 50px;

}
.footer img{
    width: 50px;
}
